@import "tailwindcss";

@layer base {
    /* color_* defines root colors, so Todo- we can change that later */
    :root {
        --color_success: oklch(0.659 0.12 144.059 / 0.69);
        --color_danger: oklch(0.546 0.179 23.376 / 0.69);

        --color_back: oklch(0.97 0 89.876);
        --color_muted: oklch(0.839 0 89.876 / 0.47);
        --color_subtle: oklch(0.244 0 89.876 / 0.69);
        --color_front: oklch(0.244 0 89.876);
    }

    [data-theme="dark"] {
        --color_back: oklch(0.115 0 89.876);
        --color_muted: oklch(0.356 0 89.876 / 0.47);
        --color_subtle: oklch(0.739 0 89.876 / 0.69);
        --color_front: oklch(0.864 0 89.876);
    }
}

@theme inline {
    --font-sans: system-ui;
    /* color-* defines theme colors to follow TW styles */
    --color-back: var(--color_back);
    --color-front: var(--color_front);
    --color-muted: var(--color_muted);
    --color-subtle: var(--color_subtle);
    --color-success: var(--color_success);
    --color-danger: var(--color_danger);
}

@layer base {
    html {
        @apply font-sans leading-relaxed subpixel-antialiased scroll-smooth;
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-back text-front;
    }
}

@layer components {
    .screen {
        @apply px-4 sm:px-12 lg:px-16 xl:px-24 py-8 lg:py-32  w-full min-h-[90vh] bg-back text-front;
    }

    /* Animated gradient text utilities using CSS variables */
    .text-gradient {
        @apply bg-clip-text text-transparent font-semibold ease-in-out bg-gradient-to-l from-front via-muted to-front;
        background-size: 200% 200%;
        animation: gradient-move 5s infinite;
    }
}
