@import "tailwindcss";

@layer base {
    /* color_* defines root colors, so Todo- we can change that later */
    :root {
        --color_success: oklch(0.659 0.12 144.059 / 0.69);
        --color_danger: oklch(0.546 0.179 23.376 / 0.69);

        --color_back: oklch(0.97 0 89.876);
        --color_muted: oklch(0.839 0 89.876 / 0.47);
        --color_subtle: oklch(0.244 0 89.876 / 0.69);
        --color_front: oklch(0.244 0 89.876);
    }

    [data-theme="dark"] {
        --color_back: oklch(0.115 0 89.876);
        --color_muted: oklch(0.356 0 89.876 / 0.47);
        --color_subtle: oklch(0.739 0 89.876 / 0.69);
        --color_front: oklch(0.864 0 89.876);
    }
}

@theme inline {
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    --font-mono: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;

    /* color-* defines theme colors to follow TW styles */
    --color-back: var(--color_back);
    --color-front: var(--color_front);
    --color-muted: var(--color_muted);
    --color-subtle: var(--color_subtle);
    --color-success: var(--color_success);
    --color-danger: var(--color_danger);
    
}

@layer base {
    html {
        @apply font-sans leading-relaxed subpixel-antialiased scroll-smooth;
    }

    body {
        @apply bg-back text-front;
    }

    .theme {
        @apply bg-back text-front;
    }
}

@layer components {

    .screen {
        @apply px-4 sm:px-12 lg:px-16 xl:px-24 py-8 w-full min-h-[90vh] bg-back text-front;
    }

    .glow-subtle {
        @apply transition-all duration-300 ease-in-out hover:drop-shadow-2xl;
    }

    .glow-accent {
        @apply transition-all duration-300 ease-in-out transform-gpu;
    }

    .card-glow {
        /* position: relative; transition: all 300ms var(--ease-default); */
        @apply relative transition-all duration-300 ease-[var(--ease-default)];
    }

    .card-glow::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        padding: 1px;
        opacity: 0;
        transition: opacity 300ms cubic-bezier(0.22, 1, 0.36, 1);
        background-image: linear-gradient(135deg, transparent 0%, transparent 100%);
    }

    .card-glow:hover::before {
        opacity: 1;
        background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.08) 100%);
    }

    /* Optional layout helpers */
    @keyframes float {
        0%, 100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-10px);
        }
    }
    .icon {
        @apply w-8 h-8 lg:w-5 lg:h-5 rounded-full;
        @apply hover:scale-105 transition-transform duration-300 ease-in-out transform-gpu;
    }

    .icon-large {
        @apply w-12 h-12 lg:w-10 lg:h-10 rounded-full hover:brightness-200;
        @apply hover:scale-110 transition-transform duration-300 ease-in-out transform-gpu;
    }

    /* Animated gradient text utilities */
    @keyframes gradient-move {
        0% {
            background-position: 0 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0 50%;
        }
    }

    /* Animated gradient text utilities using CSS variables */
    .text-gradient {
        @apply bg-clip-text text-transparent font-semibold ease-in-out bg-gradient-to-l from-front via-muted to-front;
        background-size: 200% 200%;
        animation: gradient-move 5s infinite;
    }

}

@layer components {
    .timeline {
        @apply relative flex;

        > li {
            @apply relative grid shrink-0 items-center;
            grid-template-rows: var(--timeline-row-start, minmax(0, 1fr)) auto var(--timeline-row-end, minmax(0, 1fr));
            grid-template-columns: var(--timeline-col-start, minmax(0, 1fr)) auto var(--timeline-col-end, minmax(0, 1fr));

            > hr {
                @apply border-none w-full bg-muted h-0.5;

                &:first-child {
                    @apply col-start-1 row-start-2;
                }

                &:last-child {
                    @apply col-start-3 col-end-[none] row-start-2 row-end-auto;
                }
            }
        }
    }

    .timeline-start {
        @apply col-start-1 col-end-4 row-start-1 row-end-2 m-1 self-end justify-self-center;
    }

    .timeline-middle {
        @apply col-start-2 row-start-2;
    }

    .timeline-end {
        @apply col-start-1 col-end-4 row-start-3 row-end-4 m-1 self-start justify-self-center border;
    }

    .timeline-vertical {
        @apply flex-col;

        > li {
            @apply justify-items-center;
            --timeline-row-start: minmax(0, 1fr);
            --timeline-row-end: minmax(0, 1fr);

            > hr {
                @apply h-full w-1;

                &:first-child {
                    @apply col-start-2 row-start-1;
                }

                &:last-child {
                    @apply col-start-2 col-end-auto row-start-3 row-end-[none];
                }
            }
        }

        .timeline-start {
            @apply col-start-1 col-end-2 row-start-1 row-end-4 self-center justify-self-end;
        }

        .timeline-end {
            @apply col-start-3 col-end-4 row-start-1 row-end-4 self-center justify-self-start;
        }

        &:has(.timeline-middle) > li > hr {
            &:first-child {
                @apply rounded-b-lg rounded-t-none;
            }

            &:last-child {
                @apply rounded-t-lg rounded-b-none;
            }
        }

        &:not(:has(.timeline-middle)) {
            :first-child > hr:last-child {
                @apply rounded-t-lg rounded-b-none;
            }

            :last-child > hr:first-child {
                @apply rounded-b-lg rounded-t-none;
            }
        }

        &.timeline-snap-icon > li {
            --timeline-col-start: minmax(0, 1fr);
            --timeline-row-start: 0.5rem;
        }
    }

    .timeline-horizontal {
        @apply flex-row;

        > li {
            @apply items-center flex-1;

            > hr {
                @apply h-0.5 w-full ;

                &:first-child {
                    @apply col-start-1 row-start-2;
                }

                &:last-child {
                    @apply col-start-3 col-end-[none] row-start-2 row-end-auto;
                }
            }
        }

        .timeline-start {
            @apply col-start-1 col-end-4 row-start-1 row-end-2 self-end justify-self-center;
        }

        .timeline-end {
            @apply col-start-1 col-end-4 row-start-3 row-end-4 self-start justify-self-center;
        }

        &:has(.timeline-middle) > li > hr {
            &:first-child {
                @apply rounded-e-lg rounded-s-none;
            }

            &:last-child {
                @apply rounded-s-lg rounded-e-none;
            }
        }

        &:not(:has(.timeline-middle)) {
            :first-child > hr:last-child {
                @apply rounded-s-lg rounded-e-none;
            }

            :last-child > hr:first-child {
                @apply rounded-e-lg rounded-s-none;
            }
        }
    }
}
